body{
	height: 100%;
	background-color: #f2f2f2;
	font-family: 'Helvetica', sans-serif;
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.barvis{
	margin-top: 5%;
	height: 900px;
	width: 60%;
}

.barCard{
	width: 100%;
}

.row{
	display: inline;
}

.transitionLeftOut{

	animation: leftMoveOut 1s ease forwards;
}

.transitionRightIn{
	animation: rightMoveIn 1s ease forwards;
}

.input-field label{
	color: white;
}

#bars{

	cursor: pointer;
}

#companyCard{
	margin-top: 5%;
	height: 430;
	width: 800;
}

#companyCompare{
	height: 430;
	margin-left: 16%;
}

#companyCompareVis{

	margin-top: 2%;
}

#companyPage{
	left: 200%;
	position: absolute;
}

#companyPosts{
	margin-top: 5%;
	margin-left: 3px;
	height: 430;
	width: 300;
}

#wrapper{
	flex: 1;
	height: 1200px;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes leftMoveOut {
  50% {
     transform: translate(-200%, 5px);
  }

  75% {
  	left: -200%;
  }

  100% {
  	left: -300%;
  	width: 0;
  }
}

@keyframes rightMoveIn {
  50% {
    transform: translate(25%, 5%);
  }

  75%{
  	/*left: 25%;*/
  }

  100% {
	left: 0%;
  	position: relative;
	margin-top: 5%;
  }
}