body{
	height: 100%;
	background-color: #f2f2f2;
	font-family: 'Helvetica', sans-serif;
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#bars{

	cursor: pointer;
}

.barvis{
	margin-top: 5%;
	height: 80%;
	width: 60%;
}

.transition{

	animation: move 1.5s ease forwards;
}

#wrapper{
	flex: 1;
	height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes move {
  50% {
     transform: translate(-200%, 0px);
  }

  100% {
  	left: -100%;
  }
}